body {
    background-color: #FAEBD7 ;
}

div {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: white;
}
.form {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: thick;
    border-color: pink;
}


h1 {
    margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
        background-color: white;
}

table {
    margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
}
